xcuserdata/xcschememanagement.plist
*.xcuserstate
*.xcbkptlist
xcschememanagement.plist
DerivedData/
FlutterFrameworks/
**/.build/

# Xcode user specific files
Apps/Slidys.xcworkspace/xcuserdata/
Apps/Slidys.xcworkspace/xcuserdata/yugo.a.sugiyama.xcuserdatad/IDEFindNavigatorScopes.plist
Apps/Slidys.xcworkspace/xcuserdata/yugo.a.sugiyama.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

# Speech scripts directory
speech_scripts/
